In [2]:
print('Hello World')

Hello World

In [4]:
import pandas as pd

In [8]:
df = pd.read_csv('BRAZIL_CITIES.csv', delimiters=';')

TypeError: parser_f() got an unexpected keyword argument 'delimiters'

In [9]:
df = pd.read_csv('BRAZIL_CITIES.csv', delimiter=';')

In [22]:
df = pd.read_csv('BRAZIL_CITIES.csv', delimiter=';', encoding='UTF-8')

In [24]:
df.head()

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,...,Pr_Assets,Pu_Assets,Cars,Motorcycles,Wheeled_tractor,UBER,MAC,WAL-MART,POST_OFFICES,CITYxState
0,Abadia De Goiás,GO,0,6876.0,6876.0,0.0,2137.0,1546.0,591.0,5300.0,...,NaN,NaN,2158.0,1246.0,0.0,NaN,NaN,NaN,1.0,Abadia De Goiás - GO
1,Abadia Dos Dourados,MG,0,6704.0,6704.0,0.0,2328.0,1481.0,847.0,4154.0,...,NaN,NaN,2227.0,1142.0,0.0,NaN,NaN,NaN,1.0,Abadia Dos Dourados - MG
2,Abadiânia,GO,0,15757.0,15609.0,148.0,4655.0,3233.0,1422.0,10656.0,...,33724584.0,67091904.0,2838.0,1426.0,0.0,NaN,NaN,NaN,3.0,Abadiânia - GO
3,Abaeté,MG,0,22690.0,22690.0,0.0,7694.0,6667.0,1027.0,18464.0,...,44974716.0,371922572.0,6928.0,2953.0,0.0,NaN,NaN,NaN,4.0,Abaeté - MG
4,Abaetetuba,PA,0,141100.0,141040.0,60.0,31061.0,19057.0,12004.0,82956.0,...,76181384.0,800078483.0,5277.0,25661.0,0.0,NaN,NaN,NaN,2.0,Abaetetuba - PA

In [12]:
df.shape

(5573, 81)

In [23]:
df['CITYxState'] = df['CITY'] + " - " + df["STATE"]